# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Build

on:
  push:
    branches: [ master ]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Local install
      run: |
        python -m pip install . --upgrade
    - name: Install Test Deps
      run: |
        python -m pip install pytest coverage pytest-cov
    - name: Tests
      run: |
        pytest --cov=tests
